AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=ap-southeast-1
S3_BUCKET_NAME=iot-face-recognition-bucket
REKOGNITION_COLLECTION_ID=home-security-faces
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/home_security
