AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=ap-southeast-1
APP_AWS_REGION=ap-southeast-1
S3_BUCKET_NAME=nghi-iot-face-prod-839248985798
REKOGNITION_COLLECTION_ID=home-security-faces
DYNAMODB_DETECTIONS_TABLE=home-security-detections-prod
DYNAMODB_KNOWN_PERSONS_TABLE=home-security-known-persons-prod
DYNAMODB_DEVICE_STATUS_TABLE=home-security-device-status-prod
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
DEVICE_OFFLINE_THRESHOLD_SEC=90
